
.second-section .container{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.recently-listed-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.recently-listed-container h3{
    font-weight: 600;
    
}

.arrow-slider-box img{
    height: 30px;
    cursor: pointer;
}

.container .shopping-items-container{

    
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    gap: 10px;

}
.shopping-item-box {
    display: flex;
    flex-direction: column;
}


.shopping-item-box .item-img{
    height: 250px;
    width: 100%;
    border-radius: 25px;
    object-fit:cover;
}

.shopping-item-box .title-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.title-container p{
    margin: 5px 0px;
    padding-top: 10px;
}
.title-container .review-box{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
    
}
.title-container .like-img{
    height: 20px;
    padding-top: 10px;
    cursor: pointer;
}
.shopping-item-box h3{
    margin: 0px;
    font-weight: 600;
}

@media(max-width:1200px){
    .container .shopping-items-container{
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        
    }
}

@media(max-width:800px){
    .container .shopping-items-container{
        
        grid-template-columns:1fr 1fr;
        grid-template-rows: 1fr 1fr;
        
    }
}


@media(max-width:420px){
    .container .shopping-items-container{
        display: grid;
        grid-template-columns:1fr ;
        
        
    }
}